/*新規入力*/
/*h2とdivの
width:700px;
margin-right: auto;
margin-left : auto;を消せば右寄りになる。
*/
h2{
	width:700px;
	margin-right: auto;
	margin-left : auto;
	background-color: #eee;
}
/*ユーザー登録欄*/
div {
  	width:700px;
	margin-right: auto;
	margin-left : auto;
}

.post{
	width: 400px;
	text-align: right;
	margin: auto;
}

label{
	margin-right: 10px;
	width:100px;
	float: left;
}

#err_name, #err_kana, #err_id, #err_mail, #err_password {
	color: red;
	margin-bottom: 10px;
	margin-left: 110px;
}