/*題名*/
h2{
	width:600px;
	background-color: #eee;
}

div {
  	width:600px;
}

/*入力入力欄*/
label{
	margin-right: 10px;
	width:100px;
	float: left;
}

.name{
	margin-bottom: 10px;
}

.post{
	width: 500px;
	left: right;
	margin: auto;
}

.post2{
	width: 500px;
	margin-left : 330px ;
}

#err_title, #err_date {
	color: red;
	margin-bottom: 10px;
	margin-left: 110px;
}

.err_line {
	margin: 0;
}

#update_contents {
	color: blue;
	font-size: 18px;
}