/*題名*/
h2{
	width:600px;
	background-color: #eee;
}

div {
  	width:600px;
}

/*入力入力欄*/
label{
	margin-right: 10px;
	width:100px;
	float: left;
}

.name{
	margin-bottom: 10px;
}

.post{
	width: 500px;
	text-align: right;
	margin: auto;
}
