/*新規入力*/
/*h2とdivの
width:700px;
margin-right: auto;
margin-left : auto;を消せば右寄りになる。
*/
h2{
	width:700px;
	margin-right: auto;
	margin-left : auto;
	background-color: #eee;
}
/*日報記入欄*/
div {
  	width:700px;
	margin-right: auto;
	margin-left : auto;
}

.name{
	margin-bottom: 10px;
}

.post{
	width: 400px;
	text-align: right;
	/*margin: auto;*/
}

label{
	margin-right: 10px;
	width: 100px;
	/*float: left;*/
}

td {
	vertical-align: top;
}

#err_title, #err_date {
	color: red;
	margin-bottom: 10px;
}

.err_line {
	margin: 0;
}

#date {
	float: left;
}
