<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
<h1>Hello World!!</h1>
<p th:text="|現在時刻は ${currentTime} です。|"></p>
<ul th:each="report : ${reports}">
    <li><a th:href="@{'/reports/' + ${report.id}}" th:text="${report.title}"></a></li>
</ul>
<div style="border: 1px solid #BBB; display: inline-block; padding: 20px;">
    <form action="#" th:action="@{/reports}" th:object="${report}" method="POST">
        <div>
            <label>タイトル</label>
            <input th:field="*{title}" />
        </div>
        <div>
            <label>本文</label>
            <textarea th:field="*{text}" style="display: block; min-width: 600px; min-height: 200px;"></textarea>
        </div>
        <div>
            <input type="submit" value="作成" />
        </div>
    </form>
</div>
</body>
</html>