<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>HOME</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/home_page.css" rel="stylesheet" />

	<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="../js/home_page.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<!-- 1.ナビゲーションバーの設定 -->
  	<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container">
  			<!-- 2.ヘッダ情報 -->
  			<div class="navbar-header">
  				<a class="navbar-brand font-weight font-family-co" href="/home?pageno=0">日報chan</a>
  			</div>
			<!-- 3.リストの配置 -->
			<!--
			<form method="POST" id="logout" name="logout"><a class="navbar-link navbar-text navbar-right" th:href="@{/logout}">ログアウト</a></form>
			<p class="navbar-text navbar-right"><a href="" class="navbar-link">マイページ</a></p>
			-->
			<ul class="nav navbar-nav margin-left-50 font-family-co font-weight">
				<li><a href="/mypage">マイページ</a></li>
			</ul>

			<!-- 検索フォーム -->
			<form class="navbar-form navbar-left margin-left-50" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="検索キーワード" />
				</div>
				<button type="submit" class="btn btn-default">検索</button>
			</form>

			<form method="POST" id="logout" name="logout"><a class="navbar-link navbar-text navbar-right margin-right font-family-co" th:href="@{/logout}"><button type="button" class="btn btn-default navbar-btn">ログアウト</button></a></form>
			<!-- <button type="button" class="btn btn-default navbar-btn navbar-right margin-right font-family-co">マイページ</button>-->

			<p class="navbar-text navbar-right margin-top-bottom navbar-link" th:text="'社員ID:' + ${loginuser.userId} + '　' + ${loginuser.userName} + 'さん'"></p>
			<!-- <p class="navbar-text navbar-right margin-top-bottom" th:text="'社員ID:' + ${loginuser.userId}"></p>-->


  		</div>
  	</nav>

	<!-- 新規作成ボタン -->
		<p class="navbar-right"><a class="raised" href="/nippou">新規作成</a></p><br/><br/>

	<!-- 日報一覧 -->
	<p class="nippou font-size">日報一覧(最新20件)</p>
	<div>
		<ul class="list-group">
			<li class="list-group-item" th:each="nippou : ${nippou}"><p th:text="${#dates.format(nippou.nippouTraining,'yyyy-MM-dd')} + '　' + ${nippou.User.userName} + '　' + ${nippou.nippouEdit}"></p><a th:href="@{'/nippou/' + ${nippou.nippouId}}" th:text="${nippou.nippouTitle}" th:value="${nippou.nippouTraining}"></a></li>
		</ul>
	</div>

<!--
	<div>
  		<a th:each="i : ${#numbers.sequence(0, nippouPage-1)}" th:text="${i+1}" th:href="'/home?pageno=' + ${i}"></a>
	</div>
-->

	<nav>
	<ul class="pagination">
		<li class="disabled">
			<a href="#" aria-label="前のページへ">
				<span aria-hidden="true">«</span>
			</a>
		</li>
		<li>
			<a th:each="i : ${#numbers.sequence(0, nippouPage-1)}" th:text="${i+1}" th:href="'/home?pageno=' + ${i}"></a>
		</li>
		<li>
			<a href="" aria-label="次のページへ">
				<span aria-hidden="true">»</span>
			</a>
		</li>
	</ul>
</nav>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
<!--
    <script src="js/bootstrap.min.js"></script>
-->
  </body>
</html>