<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8" />
	<link href="/css/show_page.css" rel="stylesheet" />

</head>
<body>
	<ul id="list-nav">
		<li class="home"><a href="/home">日報chan</a></li>
		<li class="user-id"><a href="">ユーザ情報</a><a th:text="${flag}"></a></li>
		<li class="menu1"><a href="">マイページ</a></li>
		<li class="menu2"><a href="">ログアウト</a></li>
	</ul>
	<div th:unless="${flag}">
    <form th:action="@{/nippou}" th:object="${nippou}" method="POST">
        タイトル：<input type="text" name="nippou_title" th:value="${nippouTitle}" readonly = "readonly"/><br/>
        日付	：<input type="text" name="nippou_training" th:value="${nippouTraining}" readonly = "readonly"/><br/>
        名前	：<input type="text" name="user_name" th:value="${loginuser.userName}" readonly = "readonly"/><br/>
        社員ID	：<input type="text" name="user_id" th:value="${loginuser.userId}" readonly = "readonly"/><br/>
        研修内容<br/>

        <textarea name="nippou_contents" rows="10" cols="40" th:text="${nippouContents}" readonly = "readonly"></textarea><br/>

        学んだこと
        <textarea name="nippou_contents" rows="10" cols="40"></textarea><br/>
        困ったこと
        <textarea name="nippou_contents" rows="10" cols="40"></textarea><br/>

        <input type="submit" name="update" value="上書き保存" />
    </form>
	<form>
        コメント<br/>
        <textarea name="comment_contents" rows="5" cols="40" th:fieald="*{commentContents}"></textarea><br/>
        <input type="submit" name="send" value="送信" />
    </form>
    </div>


    <div th:if="${flag}">
    <form th:action="@{/nippou/update}" th:object="${nippou}" method="POST">
        タイトル：<input type="text" name="nippou_title" th:value="*{nippouTitle}" th:field="*{nippouTitle}"/><br/>
        日付	：<input type="text" name="nippou_training" th:value="*{nippouTraining}" th:field="*{nippouTraining}" readonly = "readonly"/><br/>
        名前	：<input type="text" name="user_name" th:value="*{user.userName}" th:field="*{user.userName}" readonly = "readonly"/><br/>
        社員ID	：<input type="text" name="user_id" th:value="*{user.userId}" th:field="*{user.userId}" readonly = "readonly"/><br/>
        研修内容<br/>
        <input type="hidden" name="nippou_id" th:value="*{nippouId}" th:field="*{nippouId}"/>
        <input type="hidden" name="nippou_id" th:value="*{nippouRegister}" th:field="*{nippouRegister}"/>
        <textarea name="nippou_contents" rows="10" cols="40" th:text="*{nippouContents}" th:field="*{nippouContents}"></textarea><br/>

        学んだこと
        <input type="hidden" name="nippou_id" th:value="*{nippouId}" th:field="*{nippouId}"/>
        <input type="hidden" name="nippou_id" th:value="*{nippouRegister}" th:field="*{nippouRegister}"/>
        <textarea name="nippou_contents" rows="10" cols="40" th:text="*{nippouStudy}" th:field="*{nippouStudy}"></textarea><br/>
        困ったこと
        <input type="hidden" name="nippou_id" th:value="*{nippouId}" th:field="*{nippouId}"/>
        <input type="hidden" name="nippou_id" th:value="*{nippouRegister}" th:field="*{nippouRegister}"/>
        <textarea name="nippou_contents" rows="10" cols="40" th:text="*{nippouProblem}" th:field="*{nippouProblem}"></textarea><br/>

        <input type="submit" name="update" value="上書き保存" />
        </form>
        </div>

	<form>
        コメント<br/>
        <textarea name="comment_contents" rows="5" cols="40" th:fieald="*{commentContents}"></textarea><br/>
        <input type="submit" name="send" value="送信" />
    </form>

</body>
</html>