<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8" />
	<link href="../css/bootstrap.min.css" rel="stylesheet" />
	<link href="../css/show_page.css" rel="stylesheet" />
	<link href="../css/home_page.css" rel="stylesheet" />


	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="../js/show_page.js"></script>

</head>

<body>

	<!-- 1.ナビゲーションバーの設定 -->
  	<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container">
  			<!-- 2.ヘッダ情報 -->
  			<div class="navbar-header">
  				<a class="navbar-brand font-weight font-family-co" href="/home">日報chan</a>
  			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/home">戻る</a></li>
			</ul>
  		</div>
  	</nav>
<div class="container">
<div class="col-xs-7" style="border:dotted 1px #000;height:1200px;">
  	<h2>日報閲覧</h2>



  	<p id="update_contents">保存しました</p>




	<div th:unless="${flag}">
    <form th:action="@{/nippou}" th:object="${nippou}" method="POST">
        <label for ="user_title">タイトル</label>
        <input class="name" type="text" name="nippou_title" size="59" th:value="*{nippouTitle}" readonly = "readonly"/><br/>
        <p id="err_title" class="err_line"></p>
        <label for ="user_traning">日付</label>
        <p id="err_date" class="err_line"></p>
        <input class="name" type="text" name="nippou_training" size="59" th:value="*{nippouTraining}" readonly = "readonly"/><br/>
        <label for ="user_name">名前</label>
        <input class="name" type="text" name="user_name" size="59" th:value="*{User.userName}" readonly = "readonly"/><br/>
        <label for ="user_id">社員ID</label>
        <input class="name" type="text" name="user_id" size="59" th:value="*{User.userId}" readonly = "readonly"/><br/>
        <label for ="user_contents">研修内容</label>
        <textarea name="nippou_contents" rows="10" cols="60" th:text="*{nippouContents}" readonly = "readonly"></textarea><br/>
        <label for ="user_study">学んだこと</label>
        <textarea name="nippou_contents" rows="10" cols="60" th:text="*{nippouStudy}" readonly = "readonly"></textarea><br/>
        <label for ="user_problem">困ったこと</label>
        <textarea name="nippou_contents" rows="10" cols="60" th:text="*{nippouProblem}" readonly = "readonly"></textarea><br/>
    </form>
    </div>

    <div th:if="${flag}">
    <form id="update" th:action="@{/nippou/update}" th:object="${nippou}" method="POST">
        <label for ="user_title">タイトル</label>
        <input type="text" name="nippou_title" size="59" th:value="*{nippouTitle}" th:field="*{nippouTitle}"/><br/>
        <p id="err_title" class="err_line"></p>

        <label for ="user_traning">日付</label>
        <input type="text" name="nippou_training" size="59" th:value="*{nippouTraining}" th:field="*{nippouTraining}"/><br/>
	    <p id="err_date" class="err_line"></p>

        <label for ="user_name">名前</label>
        <input class="name" type="text" name="user_name" size="59" th:value="*{user.userName}" th:field="*{user.userName}" readonly = "readonly"/><br/>
        <label for ="user_id">社員ID</label>
        <input class="name" type="text" name="user_id" size="59" th:value="*{user.userId}" th:field="*{user.userId}" readonly = "readonly"/><br/>
        <label for ="user_contents">研修内容</label>
        <input class="name" type="hidden" name="nippou_id" th:value="*{nippouId}" th:field="*{nippouId}"/>
        <input class="name" type="hidden" name="nippou_id" th:value="*{nippouRegister}" th:field="*{nippouRegister}"/>
        <textarea class="name" name="nippou_contents" rows="10" cols="60" th:text="*{nippouContents}" th:field="*{nippouContents}"></textarea><br/>

        <label for ="user_study">学んだこと</label>
        <input class="name" type="hidden" name="nippou_id" th:value="*{nippouId}" th:field="*{nippouId}"/>
        <input class="name" type="hidden" name="nippou_id" th:value="*{nippouRegister}" th:field="*{nippouRegister}"/>
        <textarea class="name" name="nippou_contents" rows="10" cols="60" th:text="*{nippouStudy}" th:field="*{nippouStudy}"></textarea><br/>
        <label for ="user_problem">困ったこと</label>
        <input class="name" type="hidden" name="nippou_id" th:value="*{nippouId}" th:field="*{nippouId}"/>
        <input class="name" type="hidden" name="nippou_id" th:value="*{nippouRegister}" th:field="*{nippouRegister}"/>
        <textarea class="name" name="nippou_contents" rows="10" cols="60" th:text="*{nippouProblem}" th:field="*{nippouProblem}"></textarea>

        <div class="post">
        	<input type="submit" name="update" value="上書き保存" /><br/><br/>
        </div>
        </form>
    </div>
 </div>
 <div class="col-xs-5" style="border:dotted 1px #000;height:1200px; overflow:scroll; overflow-x: hidden;">
     <h2 th:text="'コメント一覧(全'+${commentnum}+'件)'"></h2>
        <form th:action="@{/comment}" th:object="${newcomment}" method="POST">
		<label for ="comment">コメント</label>
        <textarea name="comment_content" rows="10" cols="50" th:field="*{commentContent}"></textarea><br/>
        <input type="hidden" name="nippou_id"  th:field="${nippou.nippouId}" th:value="${nippou.nippouId}"/>
	    <input type="hidden" name="nippou_title" th:field="${nippou.nippouTitle}"/>
	   	<input type="hidden" name="nippou_regi" th:field="${nippou.nippouRegister}" />
	    <input type="hidden" name="nippou_edit" th:field="${nippou.nippouEdit}" />
	    <input type="hidden" name="nippou_training" th:field="${nippou.nippouTraining}"/>
	    <input type="hidden" name="nippou_contents" th:field="${nippou.nippouContents}" />
	    <input type="hidden" name="nippou_study" th:field="${nippou.nippouStudy}" />
	    <input type="hidden" name="nippou_problem" th:field="${nippou.nippouProblem}" />
	    <input type="hidden" name="nippou_user" th:field="${nippou.User}" />
        <input type="submit" name="send" value="送信" /><br/>
        <hr size="12" color="#ff0000" />
    </form>
    <ul class="list-group">
		<li class="comment_list" th:each="comments : ${comments}" th:object="${comments}">
			<p th:text="*{commentContent}"></p><br/>
			<div align="center" th:text="*{User.userName}+'	'+*{commentRegister}" ></div>
			<hr size="12" color="#ff0000" />
		</li>
	</ul>
 </div>
 </div>

</body>
</html>