<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8" />
	<link href="/css/write_page.css" rel="stylesheet" />
</head>
<body>
	<ul id="list-nav">
		<li class="home"><a href="/home">日報chan</a></li>
		<li class="menu1"><a href="/home">キャンセル</a></li>
	</ul>

<h2>日報新規入力</h2>
    <form th:action="@{/nippou}" th:object="${nippou}" method="POST">
        <div>
	        <label for ="user_name">名前</label>
	        <input type="text" name="user_name" size="39" th:field="${loginuser.userName}" th:value="${loginuser.userName}" readonly="readonly" /><br/>
	        <label for ="user_id">社員ID</label>
	        <input type="text" name="user_id" size="39" th:field="${loginuser.userId}" th:value="${loginuser.userId}" readonly="readonly" /><br/>
	        <label for ="user_title">タイトル</label>
	        <input type="text" name="nippou_title" size="39" th:field="*{nippouTitle}" value="testuser"/><br/>
	        <label for ="user_traning">日付</label>
	        <input type="text" name="nippou_training" size="39" th:field="*{nippouTraining}" value="2017-10-17"/> 例:XXXX/YY/ZZ <br/>
	        <label for ="user_contents">研修内容</label>
	        <textarea name="nippou_contents" rows="9" cols="40" th:field="*{nippouContents}">testuser</textarea><br/>
	        <label for ="user_study">学んだこと</label>
	        <textarea name="nippou_study" rows="10" cols="40" th:field="*{nippouStudy}">testuser</textarea><br/>
	        <label for ="user_problem">困ったこと</label>
	        <textarea name="nippou_problem" rows="10" cols="40" th:field="*{nippouProblem}">testuser</textarea><br/>
	        <input type="submit" value="作成" />
        </div>
    </form>
</body>
</html>