<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8" />
	<style type="text/css">
	h1 {
	background: #c2edff;/*背景色*/
	padding: 0.5em;/*文字まわり（上下左右）の余白*/
	}
	</style>
</head>
<body>
<h1>日報chan</h1>
<h2>新規入力</h2>
    <form th:action="@{/nippou}" th:object="${nippou}" method="POST">
        <div>
        名前	：<input type="text" name="user_name" value="testuser" th:field="*{User.userName}"/><br/>
        社員ID	：<input type="text" name="user_id" value="00001" th:field="*{User.userId}" /><br/>
        タイトル：<input type="text" name="nippou_title" th:field="*{nippouTitle}" value="testuser"/><br/>
        日付	：<input type="text" name="nippou_training" th:field="*{nippouTraining}" value="2017-10-17"/><br/>
        研修内容<br/>
        <textarea name="nippou_contents" rows="10" cols="40" th:field="*{nippouContents}">testuser</textarea><br/>
        <!--
        学んだこと
        <textarea name="nippou_contents" rows="10" cols="40"></textarea><br/>
        困ったこと
        <textarea name="nippou_contents" rows="10" cols="40"></textarea><br/>
        -->
        <input type="submit" value="作成" />
        </div>
    </form>
</body>
</html>