#list-nav {
	position: relative;
	padding: 0;
	margin: 0;
	line-height: 1.5;
	width: auto;
	height: 77px;
	background-color: #666;
	list-style: none;
	box-shadow: 1px 0 3px 0 #000;
}

#list-nav li {
	list-style: none;
	float: left;
}

.home {
	padding-top: 20px;
	padding-left: 20px;
}
.home a {
	text-decoration: none;
	font-size: 28px;
	font-weight:bold;
	color: #fff;
}

.user-id {
	padding-top: 30px;
	padding-left: 750px;
}
.user-id a {
	text-decoration: none;
	font-size: 20px;
	font-weight:bold;
	color: #fff;
}

.menu1 {
	padding-top: 30px;
    padding-left: 70px;
}
.menu1 a {
	text-decoration: none;
	font-size: 20px;
	font-weight:bold;
	color: #fff;
}

.menu2 {
	padding-top: 30px;
	padding-left: 20px;
	text-align: right;
}
.menu2 a {
	text-decoration: none;
	font-size: 20px;
	font-weight:bold;
	color: #fff;
}


/* トグル */
.toggle-switch{
	position: relative;
	display: block;
	width: 8em;
	font-size: 1em;
	background: #c0c0c0;
	box-shadow: 1px 0 3px 0 #000;
	text-align: center;
}

#side-menu-toggle{
	display: none;
}

/* 非チェック時の.menu-list */
#side-menu-toggle:not(:checked) ~ .menu-list{
	width: 0;
}

/* チェック時の.menu-list */
#side-menu-toggle:checked ~ .menu-list{
	width: 12em;
}

.menu-list{
	display: inline-block;
	padding: 0;
	margin: 0;
	background: #F0F0F0;
	box-shadow: 1px 1px 3px 0 #000;
	overflow: hidden;

  /* menu表示時のアニメーション */
	transition: 1s;
}

.menu-list > .list-item{
	list-style: none;
}

.menu-list > .list-item a{
	display: block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	/* 単一行で表示 */
	white-space: nowrap;
	/* リンク下線非表示 */
	text-decoration: none;
	outline: none;
}

/* css4  */
.menu-list > .list-item a:-webkit-any-link{
	color: #000;
}

.menu-list > .list-item a:-moz-any-link{
	color: #000;
}

/* any-link 未対応ブラウザ用 */
.menu-list > .list-item a:link,
.menu-list > .list-item a:visited{
	color: #000;
}

/* リンクホバー時 */
.menu-list > .list-item a:hover{
	background: #303030;
	color: #fff;
}

}
/*新規作成ボタン*/

.new-button {
	position: relative;
}
/*
.new-button a {
	width: 200px;
	display:block;
	background:#4e91e4;
	position: absolute;
	font-size: 20px;
	text-decoration: none;
	right: 100px;
}
*/
.raised{
	right: 60px;
	top: 110px;
	padding: 30px 30px 30px 30px;
	position: absolute;
  	display: inline-block;
  	background-color: #0000ff;/*背景色*/
  	font-weight: bold;
  	color: #FFF;/*文字色*/
  	font-size: 20px;/*文字サイズ*/
  	line-height: 1;
  	text-decoration: none;
  	padding: 0.2em 1em;/*ボタン内の余白*/
  	border-radius: 3px;/*角の丸み*/
    cursor: pointer;
  	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);/*影*/
  	-webkit-tap-highlight-color: transparent;
  	transition: .3s ease-out;/*変化を緩やかに*/
}

.raised:hover{
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);/*浮き上がるように*/
}

#main {
	float: left;
}

/* 検索フォーム */
.search1{
	left: 100px;
	width: 70%;
	position:absolute;
	background-color:#fff;
	border:1px solid #aaa;
	border-radius:6px;
}
.search1 dt{
	padding:3px;
}
.search1 dt input{
	width:70%;
	height:20px;
	line-height:20px;
	background:none;
	border:none;
}
.search1 dd{
	position:absolute;
	top:1px;
	right:1px;
	width:30%;
}
.search1 dd button{
	display:block;
	background:#2b71c8;
	width:100%;
	height:28px;
	line-height:26px;
	border:none;
	border-radius: 0 6px 6px 0;
}
.search1 dd button:hover {
	background:#4e91e4;
}
.search1 dd button span{
	display:block;
	color:#FFF;
}


.nippou {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 124px;
	height: 64px;
	margin: auto;
	list-style: none;
}

/* 日報一覧 */
.nippou li {
	list-style: none;
}
.nippou li a {
	text-decoration: none;
	font-size: 30px;
	line-height: 50px;
	color: #000;

}
